In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("vehicles.csv")

In [4]:
df.shape

(423857, 25)

In [5]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [6]:
print(df.columns) #These are all the columns/potential variables, I will drop some that we don't need

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long'],
      dtype='object')

In [13]:
fl = df[df['state'] == 'fl']

In [5]:
fl.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
1225,7183019295,https://spacecoast.craigslist.org/cto/d/satell...,space coast,https://spacecoast.craigslist.org,6000,2004.0,ford,mustang gt,good,8 cylinders,...,rwd,mid-size,coupe,orange,https://images.craigslist.org/01212_fhfq5kbCTl...,2004 Ford Mustang GT Manual V8 Borla Exhaust ...,NaN,fl,28.1910,-80.5990
1226,7183000381,https://spacecoast.craigslist.org/ctd/d/ocala-...,space coast,https://spacecoast.craigslist.org,0,2010.0,honda,ridgeline,NaN,NaN,...,NaN,NaN,pickup,black,https://images.craigslist.org/00808_76phFiaHbM...,2010 Honda Ridgeline RTL Offered by: The T...,NaN,fl,29.1870,-82.1931
1227,7182967867,https://spacecoast.craigslist.org/ctd/d/ocala-...,space coast,https://spacecoast.craigslist.org,0,2011.0,ford,f-150,NaN,NaN,...,4wd,NaN,pickup,white,https://images.craigslist.org/00j0j_e9o3cwSVbf...,2011 Ford F150 FX4 Offered by: The Truck B...,NaN,fl,29.1870,-82.1931
1233,7182964852,https://spacecoast.craigslist.org/cto/d/melbou...,space coast,https://spacecoast.craigslist.org,8900,2002.0,ford,thunderbird conv,excellent,8 cylinders,...,rwd,NaN,convertible,black,https://images.craigslist.org/00s0s_g791SYQKyP...,Offered for sale is this increasingly collecti...,NaN,fl,28.1331,-80.7112
1235,7182932922,https://spacecoast.craigslist.org/ctd/d/ocala-...,space coast,https://spacecoast.craigslist.org,0,2012.0,ford,f-350,NaN,NaN,...,4wd,NaN,other,white,https://images.craigslist.org/00303_kVxdnt7LTj...,2012 Ford F350sd XLT Offered by: The Truck...,NaN,fl,29.1870,-82.1931

In [14]:
# Drop the variables we don't need
fl = fl.drop(['id','url','region_url','model','vin', 'image_url', 'description', 'county', 'state','lat','long'], axis=1)

In [15]:
fl.head()

,region,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
1225,space coast,6000,2004.0,ford,good,8 cylinders,gas,85841.0,lien,manual,rwd,mid-size,coupe,orange
1226,space coast,0,2010.0,honda,NaN,NaN,gas,135934.0,clean,automatic,NaN,NaN,pickup,black
1227,space coast,0,2011.0,ford,NaN,NaN,gas,105648.0,clean,automatic,4wd,NaN,pickup,white
1233,space coast,8900,2002.0,ford,excellent,8 cylinders,gas,40500.0,rebuilt,automatic,rwd,NaN,convertible,black
1235,space coast,0,2012.0,ford,NaN,NaN,diesel,156699.0,clean,automatic,4wd,NaN,other,white

In [34]:
# Drop specific models of car (There are too many categories)
fl = fl.drop(['model'], axis=1)

In [35]:
fl.head()

,id,region,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long
1225,7183019295,space coast,6000,2004.0,ford,good,8 cylinders,gas,85841.0,lien,manual,rwd,mid-size,coupe,orange,28.1910,-80.5990
1226,7183000381,space coast,0,2010.0,honda,NaN,NaN,gas,135934.0,clean,automatic,NaN,NaN,pickup,black,29.1870,-82.1931
1227,7182967867,space coast,0,2011.0,ford,NaN,NaN,gas,105648.0,clean,automatic,4wd,NaN,pickup,white,29.1870,-82.1931
1233,7182964852,space coast,8900,2002.0,ford,excellent,8 cylinders,gas,40500.0,rebuilt,automatic,rwd,NaN,convertible,black,28.1331,-80.7112
1235,7182932922,space coast,0,2012.0,ford,NaN,NaN,diesel,156699.0,clean,automatic,4wd,NaN,other,white,29.1870,-82.1931

In [8]:
na_counts = []
for i in fl.columns:
    na_counts.append(fl[i].isna().sum())
print('Total rows: ' + str(fl.shape[0]))
print('List NA counts: ')
print(na_counts)

Total rows: 27413
List NA counts:
[0, 0, 5851, 7004, 5985, 14994, 13830, 5848, 10541, 5720, 5811, 12860, 19186, 11016, 12456]

In [46]:
# from above the 12th col seems to have a high number of NA values, what is it?
print(fl.columns[11])

drive

In [16]:
fl_skim = fl.dropna() # Drop all NAs, we can choose to use a different approach, but this is easier

In [20]:
fl_skim.shape

(4444, 14)

In [21]:
fl_skim.head()

,region,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
1225,space coast,6000,2004.0,ford,good,8 cylinders,gas,85841.0,lien,manual,rwd,mid-size,coupe,orange
1261,space coast,7650,2012.0,honda,good,4 cylinders,gas,112000.0,clean,manual,fwd,mid-size,sedan,black
1266,space coast,9850,2010.0,lincoln,good,6 cylinders,gas,129960.0,clean,automatic,4wd,full-size,SUV,silver
1280,space coast,12500,2015.0,kia,good,4 cylinders,gas,97185.0,clean,automatic,rwd,full-size,SUV,silver
1283,space coast,7500,2005.0,mercedes-benz,excellent,6 cylinders,gas,63500.0,clean,automatic,rwd,full-size,wagon,silver

In [22]:
fl_skim.to_csv('vehicles-florida.csv')

jacksonville             641
ft myers / SW florida    456
sarasota-bradenton       396
orlando                  359
tampa bay area           344
daytona beach            324
treasure coast           284
space coast              269
ocala                    240
pensacola                237
lakeland                 170
okaloosa / walton        152
tallahassee              144
south florida            141
gainesville               97
panama city               89
florida keys              27
st augustine              25
heartland florida         23
north central FL          19
Name: region, dtype: int64